<div id="wrapper">

  <svg id="dashboard"
       [attr.viewBox]="'0 0 ' + meterDimension + ' ' + meterDimension"
       preserveAspectRatio="xMidYMid slice">

    <defs>
      <linearGradient id="linearGradient" x1="0%" y1="100%" x2="0%" y2="0%">
        <stop offset="0%" stop-color="#fff"/>
        <stop offset="100%" stop-color="#ccc"/>
      </linearGradient>

      <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="selectedTabGradientMask">
        <stop offset="0" stop-color="white" stop-opacity="1"/>
        <stop offset="0.9" stop-color="white" stop-opacity="1"/>
        <stop offset="1.0" stop-color="white" stop-opacity="0"/>
      </linearGradient>
      <mask id="selectedTabMask">
        <rect x="0" y="0" [attr.width]="menuWidth" [attr.height]="menuHeight"
              fill="url(#selectedTabGradientMask)"></rect>
      </mask>
    </defs>

    <g id="dashOutline">
      <image [attr.y]="meterDimension / 4 + 60+ 'px'"
             [attr.width]="'100%'"
             xlink:href="./assets/glyphs/dash-outline.svg"/>
    </g>

    <g id="indicators">
      <!-- MILES -->
      <text [attr.x]="halfDimension / 5 + 15"
            [attr.y]="2 * meterDimension / 3 - 25"
            class="right-anchor">
        <tspan font-size="12pt" [attr.fill]="colors.white">{{ data.totalMileage | number:'1.0-0' }}</tspan>
        <tspan font-size="10pt" [attr.fill]="colors.gray" class="words">&nbsp;{{ distanceUnits }}</tspan>
      </text>

      <!-- COMPASS -->
      <text [attr.x]="11 * meterDimension / 12"
            [attr.y]="2 * meterDimension / 3 - 25"
            [attr.fill]="colors.white"
            font-size="12pt"
            class="left-anchor">
        {{ data.compass }}
      </text>

      <g id="topLeftIndicators"
         [style.transform]="'translateX(' +  (2 * halfDimension / 6 + 10) + 'px) translateY(' + indicatorY0 + 'px)'">
        <!--        <rect x="0"-->
        <!--              y="0"-->
        <!--              [attr.width]="indicatorWidth"-->
        <!--              [attr.height]="indicatorHeight"-->
        <!--              fill="yellow"-->
        <!--              fill-opacity="0.5"></rect>-->

        <image *ngIf="data.indicators.externalLights"
               [attr.x]="0"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/externalLights.svg"/>

        <image *ngIf="data.indicators.headlights"
               [attr.x]="25"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/headlights.svg"/>

        <image *ngIf="data.indicators.autoHeadlights"
               [attr.x]="50"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/autoHeadlights.svg"/>

        <image *ngIf="data.indicators.highBeam"
               [attr.x]="75"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/highBeam.svg"/>

        <image *ngIf="data.indicators.leftTurn"
               [ngClass]="{ 'blinker': data.indicators.leftTurn }"
               [attr.x]="indicatorWidth - 25"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/arrow-left.svg"/>

      </g>

      <g id="topRightIndicators"
         [style.transform]="'translateX(' + 6 * halfDimension / 5 + 'px) translateY(' + indicatorY0 + 'px)'">
        <!--        <rect x="0"-->
        <!--              y="0"-->
        <!--              [attr.width]="indicatorWidth"-->
        <!--              [attr.height]="indicatorHeight"-->
        <!--              fill="yellow"-->
        <!--              fill-opacity="0.5"></rect>-->

        <image *ngIf="data.indicators.rightTurn"
               [ngClass]="{ 'blinker': data.indicators.rightTurn }"
               [attr.x]="5"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/arrow-right.svg"/>

        <image *ngIf="data.indicators.mil"
               [attr.x]="30"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/malfunction.svg"/>

        <image *ngIf="data.indicators.battery"
               [attr.x]="indicatorWidth - 25"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/battery.svg"/>

        <image *ngIf="data.indicators.doorAjar"
               [attr.x]="indicatorWidth - 50"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/door-ajar.svg"/>

        <image *ngIf="data.indicators.oilPressure"
               [attr.x]="indicatorWidth - 75"
               [attr.y]="8"
               width="20"
               xlink:href="./assets/glyphs/oil-can.svg"/>
      </g>

    </g>

    <!-- RIGHT BUMPER -->
    <g id="rightBumper" style="transform-origin: center center;">

      <g id="fuelDistance">
        <text [attr.fill]="colors.white"
              class="right-anchor"
              [attr.x]="4 * meterDimension / 5 + 30"
              [attr.y]="2 * meterDimension / 3 - 2">
          <tspan [attr.fill]="colors.white" font-size="12pt">{{ data.fuelDistance | number:'1.0-0' }}</tspan>
          <tspan [attr.fill]="colors.gray" font-size="8pt" class="words">&nbsp;{{ distanceUnits }}</tspan>
        </text>
      </g>

      <!-- Fuel Level Meter -->
      <g id="fuelLevel">

        <line *ngFor="let i of fuelBarTicks"
              [attr.x1]="fuelLevelX(i)"
              [attr.y1]="fuelBarTickY0"
              [attr.x2]="fuelLevelX(i)"
              [attr.y2]="fuelBarTickY1"
              [attr.stroke]="colors.white"
              stroke-width="2"/>

        <line [attr.x1]="fuelLevelX(100) + 1"
              [attr.y1]="fuelBarTickY0 + 7"
              [attr.x2]="fuelLevelX(0) - 1"
              [attr.y2]="fuelBarTickY0 + 7"
              [attr.stroke]="colors.gray"
              stroke-width="3"/>

        <!-- The main line -->
        <line [attr.x1]="fuelLevelX(data.fuelLevel) "
              [attr.y1]="fuelBarTickY0 + 6"
              [attr.x2]="fuelLevelX(0) "
              [attr.y2]="fuelBarTickY0 + 6"
              [attr.stroke]="colors.white"
              stroke-width="6"/>

        <!-- The left red bar -->
        <line [attr.x1]="fuelLevelX(0)"
              [attr.y1]="fuelBarTickY0 - 2"
              [attr.x2]="fuelLevelX(0)"
              [attr.y2]="fuelBarTickY0 + 14"
              [attr.stroke]="colors.red1"
              stroke-width="2"/>

        <!-- The right red bar -->
        <line [attr.x1]="fuelLevelX(data.fuelLevel)"
              [attr.y1]="fuelBarTickY0 - 2"
              [attr.x2]="fuelLevelX(data.fuelLevel)"
              [attr.y2]="fuelBarTickY0 + 14"
              [attr.stroke]="colors.red1"
              stroke-width="2"/>

      </g>
    </g>

    <!-- LEFT BUMPER -->
    <g id="leftBumper" style="transform-origin: center center">
      <g id="oilTemp">

        <!-- OIL TEMPERATURE -->
        <text [attr.fill]="colors.white"
              class="left-anchor"
              [attr.x]="meterDimension / 7"
              [attr.y]="2 * meterDimension / 3 - 3"
              font-size="12pt">
          {{ data.oilTemp | number:'1.0-0' }}
        </text>

        <text [attr.fill]="colors.white"
              class="left-anchor"
              fill-opacity="0.5"
              font-size="8pt"
              [attr.x]="meterDimension / 7 + 35"
              [attr.y]="2 * meterDimension / 3 - 2">
          &deg;{{ tempUnits }}
        </text>

      </g>

      <g id="oilTempGauge">

        <!-- Tick Marks -->
        <line *ngFor="let i of oilTempTickValues"
              [attr.x1]="oilTempBarX(i)"
              [attr.y1]="fuelBarTickY0"
              [attr.x2]="oilTempBarX(i)"
              [attr.y2]="fuelBarTickY1"
              [attr.stroke]="colors.white"
              stroke-width="2"/>

        <!-- Back bar -->
        <line [attr.x1]="oilTempBarX(oilTempMax)"
              [attr.y1]="fuelBarTickY0 + 7"
              [attr.x2]="oilTempBarX(oilTempMin)"
              [attr.y2]="fuelBarTickY0 + 7"
              [attr.stroke]="colors.gray"
              stroke-width="4"/>

        <!-- Oil temp danger-zone back bar -->
        <line [attr.x1]="oilTempBarX(oilTempMax)"
              [attr.y1]="fuelBarTickY0 + 7"
              [attr.x2]="oilTempBarX(oilTempDanger)"
              [attr.y2]="fuelBarTickY0 + 7"
              stroke-opacity="0.5"
              [attr.stroke]="colors.red1"
              stroke-width="4"/>

        <!-- The main line -->
        <line [attr.x1]="oilTempBarX(data.oilTemp) "
              [attr.y1]="fuelBarTickY0 + 6"
              [attr.x2]="oilTempBarX(oilTempMin) "
              [attr.y2]="fuelBarTickY0 + 6"
              [attr.stroke]="colors.white"
              stroke-width="6"/>

        <!-- The right red bar -->
        <line [attr.x1]="oilTempBarX(oilTempMax)"
              [attr.y1]="fuelBarTickY0 - 2"
              [attr.x2]="oilTempBarX(oilTempMax)"
              [attr.y2]="fuelBarTickY0 + 14"
              [attr.stroke]="colors.red1"
              stroke-width="2"/>

        <!-- The right red bar -->
        <line [attr.x1]="oilTempBarX(data.oilTemp)"
              [attr.y1]="fuelBarTickY0 - 2"
              [attr.x2]="oilTempBarX(data.oilTemp)"
              [attr.y2]="fuelBarTickY0 + 14"
              [attr.stroke]="colors.red1"
              stroke-width="2"/>

      </g>
    </g>

    <!-- PRIMARY (RIGHT) MENU -->
    <g id="primaryMenu" style="transform-origin: center center">

      <g id="primaryMenuTitle">
        <image [attr.x]="4 * halfDimension / 3 + 40"
               [attr.y]="menuY0 - 30 "
               width="15"
               [attr.xlink:href]="menuIcons[selectedPrimaryTabIndex]"/>

        <text class="left-anchor words"
              [attr.x]="4 * halfDimension / 3 + 70"
              [attr.y]="menuY0 - 20"
              font-size="12pt"
              [attr.fill]="colors.white">
          {{ selectedPrimaryTabLabel }}
        </text>

        <line *ngFor="let tab of menu; let i = index;"
              [attr.x1]="primaryTabXY(i).x1"
              [attr.x2]="primaryTabXY(i).x2"
              [attr.y1]="primaryTabY"
              [attr.y2]="primaryTabY"
              [attr.stroke]="primaryTabColor(tab.key)"
              [attr.stroke-opacity]="primaryTabOpacity(tab.key)"
              stroke-width="6"/>
      </g>

      <!-- SECONDARY MENU -->
      <g id="selectedPrimaryMenu" style="transform-origin: center center"
         [style.transform]="'translateX(' + menuX0 + 'px) translateY(' + menuY0 + 'px)'">

        <!--        <rect x="0"-->
        <!--              y="0"-->
        <!--              [attr.width]="menuWidth"-->
        <!--              [attr.height]="menuHeight"-->
        <!--              fill-opacity="0"-->
        <!--              stroke="white"-->
        <!--              stroke-dasharray="5, 5"></rect>-->

        <g id="activeMenuOption" mask="url(#selectedTabMask)">
          <!--        <g id="activeMenuOption">-->

          <g *ngFor="let secondary of activeTabSections; let i = index;"
             [attr.style]="'transform: translateY(' + ((i * menuHeight) - menuScroll) + 'px)'">

            <!--            <rect x="0"-->
            <!--                  y="0"-->
            <!--                  [attr.width]="menuWidth"-->
            <!--                  [attr.height]="menuHeight"-->
            <!--                  fill-opacity="0.2"-->
            <!--                  stroke="white"-->
            <!--                  stroke-dasharray="5, 5"></rect>-->

            <g *ngIf="secondary.title">
              <text [attr.x]="menuWidth / 2"
                    [attr.y]="20"
                    class="middle-anchor words"
                    font-size="12pt"
                    [attr.fill]="colors.red1">
                {{ secondary.title }}
              </text>

              <line [attr.x1]="0"
                    [attr.x2]="menuWidth"
                    [attr.y1]="30"
                    [attr.y2]="30"
                    stroke-width="0.5"
                    [attr.stroke]="colors.white"
                    stroke-opacity="0.5"/>
            </g>

            <g *ngIf="secondary.type === 'audio'">
              <image [attr.x]="menuWidth / 2 - 20"
                     [attr.y]="menuHeight / 6"
                     width="40"
                     xlink:href="./assets/glyphs/broadcast-tower.svg"/>

              <text [attr.x]="menuWidth / 2 - 40"
                    [attr.y]="menuHeight / 6 + 25"
                    font-size="12pt"
                    [attr.fill]="colors.white">{{ data.audio.wave | uppercase}}</text>

              <text [attr.x]="menuWidth / 2"
                    [attr.y]="menuHeight / 6 + 45"
                    font-size="16pt"
                    [attr.fill]="colors.white">{{ data.audio.station | number:'1.1-1' }}</text>
            </g>

            <g *ngIf="secondary.type === 'frictionCircle'"
               [style.transform]="'translateX(' + menuWidth / 2 + 'px) translateY(' + menuHeight / 2 + 'px)'">
              <circle [attr.cx]="0"
                      [attr.cy]="0"
                      [attr.r]="frictionCircleRadius"
                      [attr.stroke]="colors.white"
                      fill-opacity="0"
                      stroke-width="2px"></circle>

              <circle [attr.cx]="0"
                      [attr.cy]="0"
                      [attr.r]="frictionCircleOuterRadius"
                      [attr.stroke]="colors.white"
                      [attr.stroke-dasharray]="frictionCircleDashArray"
                      fill-opacity="0"
                      stroke-width="2px"></circle>

              <circle *ngFor="let i of [1, 2, 3]"
                      [attr.cx]="0"
                      [attr.cy]="0"
                      [attr.r]="i * frictionCircleRadius / 4"
                      [attr.stroke]="colors.white"
                      [attr.stroke-opacity]="1 - (.30 * i)"
                      fill-opacity="0"></circle>

              <g *ngFor="let i of [0, 45, 90, 135]"
                 [style.transform]="'rotate(' + i + 'deg)'">
                <line [attr.x1]="0"
                      [attr.x2]="0"
                      [attr.y1]="-frictionCircleRadius"
                      [attr.y2]="frictionCircleRadius"
                      stroke-opacity="0.2"
                      [attr.stroke]="colors.white"></line>
              </g>

              <circle [attr.cx]="gForceXY.x"
                      [attr.cy]="gForceXY.y"
                      r="5"
                      [attr.fill]="colors.white"></circle>

              <text [attr.x]="0"
                    [attr.y]="frictionCircleRadius + 15"
                    class="middle-anchor"
                    [attr.fill]="colors.white">
                {{ -data.gforce[1] | number:'1.2-2' }}
              </text>

              <text [attr.x]="0"
                    [attr.y]="-frictionCircleRadius - 15"
                    class="middle-anchor"
                    [attr.fill]="colors.white">
                {{ data.gforce[1] | number:'1.2-2' }}
              </text>

              <text [attr.x]="frictionCircleRadius + 17"
                    [attr.y]="0"
                    class="left-anchor"
                    [attr.fill]="colors.white">
                {{ data.gforce[0] | number:'1.2-2' }}
              </text>

              <text [attr.x]="-frictionCircleRadius - 17"
                    [attr.y]="0"
                    class="right-anchor"
                    [attr.fill]="colors.white">
                {{ -data.gforce[0] | number:'1.2-2' }}
              </text>

            </g>

            <g *ngIf="secondary.type === 'header'">
              <text [attr.x]="menuWidth / 2"
                    [attr.y]="menuHeight / 3"
                    font-size="12pt"
                    class="words"
                    [attr.fill]="colors.white">
                <tspan *ngFor="let header of secondary.headers; let i = index" [attr.x]="menuWidth / 2"
                       [attr.dy]="i * 18 + 'pt'">
                  {{ header }}
                </tspan>
              </text>
            </g>

            <!-- If it has rows -->
            <g *ngIf="secondary.type === 'rows' || secondary.type === 'menu'">
              <g *ngFor="let row of tabRows(i); let j = index;">

                <g *ngIf="row.type === 'menuOption'; let k = index;">
                  <rect [attr.x]="0"
                        [attr.y]="j * 30 + 3"
                        [attr.width]="menuWidth"
                        [attr.height]="30"
                        [attr.fill-opacity]="isCurrentMenuOption(k) ? 0.5 : 0.0"
                        [attr.fill]="colors.white"></rect>

                  <text [attr.x]="10"
                        [attr.y]="j * 30 + 20"
                        [attr.fill]="colors.white"
                        font-size="12pt"
                        class="left-anchor words">
                    {{ row.title }}
                  </text>
                </g>

                <g *ngIf="row.type === 'metric'">

                  <text [attr.x]="10"
                        [attr.y]="j * 30 + 50"
                        [attr.fill]="colors.white"
                        font-size="12pt"
                        class="left-anchor words">
                    {{ row.title }}
                  </text>

                  <text [attr.x]="menuWidth - 10"
                        [attr.y]="j * 30 + 50"
                        class="right-anchor">

                    <tspan *ngIf="row.units === 'dist' || row.units === 'econ'" [attr.fill]="colors.white">
                      {{ windowValue(row.key) | number:'1.1-1' }}
                    </tspan>

                    <tspan *ngIf="row.units === 'none'" [attr.fill]="colors.white">
                      <tspan *ngIf="row.decimals === 0">{{ windowValue(row.key) | number:'1.0-0' }}</tspan>
                      <tspan *ngIf="row.decimals === 1">{{ windowValue(row.key) | number:'1.1-1' }}</tspan>
                    </tspan>

                    <tspan *ngIf="row.units === 'percent'" [attr.fill]="colors.white">
                      {{ windowValue(row.key) | number:'1.0-0' }}
                    </tspan>

                    <tspan class="words"
                           *ngIf="row.units === 'percent'"
                           [attr.fill]="colors.gray"
                           fill-opacity="0.5">
                      %
                    </tspan>

                    <tspan class="words"
                           [attr.fill]="colors.gray"
                           fill-opacity="0.5"
                           *ngIf="row.units === 'dist'">
                      &nbsp; {{ distanceUnits }}
                    </tspan>

                    <tspan class="words" [attr.fill]="colors.gray" fill-opacity="0.5" *ngIf="row.units === 'econ'">
                      &nbsp; {{ econUnits }}
                    </tspan>

                    <tspan *ngIf="row.units === 'time'">
                      <tspan [attr.fill]="colors.white">{{ toHours(windowValue(row.key)) }}
                        <tspan [attr.fill]="colors.gray" fill-opacity="0.5" class="words">&nbsp;h&nbsp;&nbsp;</tspan>
                      </tspan>
                      <tspan [attr.fill]="colors.white">{{ toMinuteOfHour(windowValue(row.key)) }}</tspan>
                      <tspan [attr.fill]="colors.gray" fill-opacity="0.5" class="words">&nbsp;min</tspan>
                    </tspan>
                  </text>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>

    <!-- LEFT PERIPHERALS -->
    <g id="leftPeripherals" style="transform-origin: center center">

      <g id="bottomLeftPeripheral"
         [style.transform]="'translateX(' + bottomLeftPeripheralX0 + 'px) translateY(' + bottomLeftPeripheralY0 + 'px)'">

        <!--        <rect class="design-outline"-->
        <rect x="0"
              y="0"
              fill-opacity="0"
              [attr.width]="leftPeripheralSectionWidth"
              [attr.height]="leftPeripheralSectionHeight"></rect>

        <g id="oilPressure">

          <text id="oilPressureLabel"
                [attr.x]="leftPeripheralSectionWidth / 2"
                [attr.y]="12"
                class="middle-anchor words"
                font-size="12pt"
                fill-opacity="0.7"
                [attr.fill]="colors.red1">
            Oil Pressure
          </text>

          <!-- Underline -->
          <line [attr.x1]="0"
                [attr.y1]="20"
                [attr.x2]="leftPeripheralSectionWidth"
                [attr.y2]="20"
                stroke-width="0.5"
                stroke-opacity="0.5"
                [attr.stroke]="colors.white"/>

          <text id="oilPressureLabel"
                [attr.x]="leftPeripheralSectionWidth / 2"
                [attr.y]="40"
                font-size="18pt"
                [attr.fill]="colors.white"
                class="middle-anchor">
            <tspan font-size="18pt">{{ data.oilPressure | number:'1.0-0' }}</tspan>
            <tspan font-size="12pt">&nbsp;psi</tspan>
          </text>

          <g id="oilPressureBar">

            <!-- Oil pressure gauge back bar -->
            <line [attr.x1]="oilPressureBarX(oilPressureMin)"
                  [attr.x2]="oilPressureBarX(oilPressureMax)"
                  [attr.y1]="oilPressureBarY0"
                  [attr.y2]="oilPressureBarY0"
                  stroke-width="6"
                  stroke-opacity="0.5"
                  [attr.stroke]="colors.gray"/>

            <!-- Moving bar -->
            <line [attr.x1]="oilPressureBarX(oilPressureMin)"
                  [attr.x2]="oilPressureBarX(data.oilPressure)"
                  [attr.y1]="oilPressureBarY0"
                  [attr.y2]="oilPressureBarY0"
                  stroke-width="6"
                  [attr.stroke]="colors.white"/>

            <!-- Moving red marker -->
            <line [attr.x1]="oilPressureBarX(data.oilPressure)"
                  [attr.x2]="oilPressureBarX(data.oilPressure)"
                  [attr.y1]="oilPressureBarY0 - 5"
                  [attr.y2]="oilPressureBarY0 + 5"
                  stroke-width="2"
                  [attr.stroke]="colors.red1"/>

            <!-- Moving red marker -->
            <line [attr.x1]="oilPressureBarX(oilPressureMin)"
                  [attr.x2]="oilPressureBarX(min(oilPressureDanger, data.oilPressure))"
                  [attr.y1]="oilPressureBarY0"
                  [attr.y2]="oilPressureBarY0"
                  stroke-width="6"
                  [attr.stroke]="colors.red1"/>

            <text [attr.x]="oilPressureBarX(oilPressureMin)"
                  [attr.y]="oilPressureBarY0 + 15"
                  [attr.fill]="colors.white">
              {{ oilPressureMin }}
            </text>

            <text [attr.x]="oilPressureBarX(oilPressureMax)"
                  [attr.y]="oilPressureBarY0 + 15"
                  [attr.fill]="colors.white">
              {{ oilPressureMax }}
            </text>
          </g>
        </g>

      </g>

      <g id="topLeftPeripheral"
         [style.transform]="'translateX(' + topLeftPeripheralX0 + 'px) translateY(' + topLeftPeripheralY0 + 'px)'">

        <!--        <rect class="design-outline"-->
        <rect x="0"
              y="0"
              fill-opacity="0"
              [attr.width]="leftPeripheralSectionWidth"
              [attr.height]="leftPeripheralSectionHeight"></rect>

        <g id="tireStatus">

          <text [attr.x]="leftPeripheralSectionWidth / 2"
                [attr.y]="10"
                class="middle-anchor words"
                font-size="12pt"
                fill-opacity="0.7"
                [attr.fill]="colors.red1">
            Tire Status
          </text>

          <!-- Underline -->
          <line [attr.x1]="0"
                [attr.y1]="20"
                [attr.x2]="leftPeripheralSectionWidth"
                [attr.y2]="20"
                stroke-width="0.5"
                stroke-opacity="0.5"
                [attr.stroke]="colors.white"/>

          <!-- Tire axles -->
          <g id="tireAxles">
            <line id="frontAxle"
                  [attr.x1]="tireXY(0).x + tireWidth / 2"
                  [attr.y1]="tireXY(0).y + tireHeight / 2"
                  [attr.x2]="tireXY(3).x + tireWidth / 2"
                  [attr.y2]="tireXY(3).y + tireHeight / 2"
                  [attr.stroke]="colors.gray"
                  stroke-width="4"/>

            <line id="rearAxle"
                  [attr.x1]="tireXY(1).x + tireWidth / 2"
                  [attr.y1]="tireXY(1).y + tireHeight / 2"
                  [attr.x2]="tireXY(2).x + tireWidth / 2"
                  [attr.y2]="tireXY(2).y + tireHeight / 2"
                  [attr.stroke]="colors.gray"
                  stroke-width="4"/>

            <!--          <line id="driveShaft"-->
            <!--                [attr.x1]="(tireXY(3).x + tireXY(0).x) / 2 + (tireWidth / 2)"-->
            <!--                [attr.y1]="tireXY(0).y + tireHeight / 2"-->
            <!--                [attr.x2]="(tireXY(3).x + tireXY(0).x) / 2 + (tireWidth / 2)"-->
            <!--                [attr.y2]="tireXY(1).y + tireHeight / 2"-->
            <!--                [attr.stroke]="colors.gray"-->
            <!--                stroke-width="4"/>-->

            <circle id="frontDifferential"
                    [attr.cx]="(tireXY(3).x + tireXY(0).x) / 2 + (tireWidth / 2)"
                    [attr.cy]="tireXY(0).y + tireHeight / 2"
                    [attr.r]="5"
                    [attr.fill]="colors.gray"></circle>

            <circle id="rearDifferential"
                    [attr.cx]="(tireXY(3).x + tireXY(0).x) / 2 + (tireWidth / 2)"
                    [attr.cy]="tireXY(1).y + tireHeight / 2"
                    [attr.r]="5"
                    [attr.fill]="colors.gray"></circle>

            <text [attr.x]="(tireXY(3).x + tireXY(0).x) / 2 + (tireWidth / 2)"
                  [attr.y]="(tireXY(0).y + tireXY(1).y) / 2 + (tireHeight / 2)"
                  font-size="10pt"
                  [attr.fill]="colors.white">
              psi
            </text>
          </g>

        </g>

        <!-- For each tire... -->
        <!-- 0  []--o--[]  3 -->
        <!--        |       -->
        <!-- 1  []--o--[]  2 -->
        <g id="tirePressures" *ngFor="let _ of [0, 1, 2, 3]; let i = index;">

          <g [id]="'tire' + i"
             [ngClass]="{ 'tire-warning': data.tirePressure[i] < tireDangerLow }">
            <rect [attr.x]="tireXY(i).x"
                  [attr.y]="tireXY(i).y"
                  [attr.width]="tireWidth"
                  [attr.height]="tireHeight"
                  [attr.fill]="tireStatusColor(i)"></rect>

            <rect [attr.x]="tireXY(i).x + tireWidth / 4"
                  [attr.y]="tireXY(i).y + tireHeight / 4"
                  [attr.width]="tireWidth / 2"
                  [attr.height]="tireHeight / 2"
                  fill-opacity="0.5"
                  [attr.fill]="colors.white"></rect>
          </g>

          <!-- Tire pressure labels -->
          <text [attr.fill]="colors.white"
                font-size="12pt"
                [ngClass]="
                 { 'right-anchor': i < 2,
                   'left-anchor': i >= 2 } "

                [attr.x]="tireXY(i).x + ((i < 2) ?  -10 : 15)"
                [attr.y]="tireXY(i).y + tireHeight / 2">
            {{ data.tirePressure[i] | number:'1.0-0' }}
          </text>
        </g>
      </g>

    </g>

    <!-- TACHOMETER -->
    <g id="tachometer" style="transform-origin: center center;" transform="scale(0.35)">

      <g id="rpm"
         [attr.transform]="'translate(0, ' + halfDimension + ') scale(1, -1) translate(0, ' + -halfDimension + ')'">

        <g id="rpmZones">

          <circle cx="50.5%" cy="1.8%" [attr.fill]="colors.white" [attr.r]="5"></circle>
          <circle cx="98.2%" cy="49.5%" [attr.fill]="colors.white" [attr.r]="5"></circle>

          <circle *ngFor="let zone of zones"
                  class="circle outline"
                  cx="50%"
                  cy="50%"
                  [attr.r]="tachRadius + 34"
                  [attr.stroke]="zone.outlineColor"
                  [attr.stroke-dasharray]="zoneRadiusCf(1.085, zone.low)">
          </circle>

          <!-- RPM Zones -->
          <circle *ngFor="let zone of zones"
                  class="circle zone"
                  cx="50%"
                  cy="50%"
                  [attr.stroke]="zone.color"
                  [attr.stroke-dasharray]="zoneDashArray(zone.low)"
                  [attr.r]="tachRadius"></circle>

        </g>

        <g id="tachometerMask">
          <circle cx="50%"
                  cy="50%"
                  class="circle mask"
                  [attr.r]="tachRadius"
                  [attr.stroke]="'url(#linearGradient)'"
                  [attr.stroke-dasharray]="maskDashArray"></circle>
        </g>

        <g id="concentricCircles">
          <circle class="circle"
                  r="18%"
                  stroke-width="0.5"
                  stroke-opacity="0.5"
                  [attr.stroke]="colors.white"
                  cx="50%"
                  cy="50%">
          </circle>

          <circle class="circle"
                  r="21%"
                  stroke-width="0.5"
                  stroke-opacity="0.5"
                  [attr.stroke]="colors.white"
                  [attr.stroke-dasharray]="radiusCf(0.47)"
                  cx="50%"
                  cy="50%"></circle>

          <circle class="circle"
                  r="24%"
                  stroke-width="0.5"
                  stroke-opacity="0.5"
                  [attr.stroke]="colors.white"
                  [attr.stroke-dasharray]="radiusCf(0.536)"
                  cx="50%"
                  cy="50%"></circle>

          <circle class="circle"
                  r="27%"
                  stroke-width="0.5"
                  stroke-opacity="0.5"
                  [attr.stroke]="colors.white"
                  [attr.stroke-dasharray]="radiusCf(.605)"
                  cx="50%"
                  cy="50%"></circle>

        </g>
        <!-- V8 -->
        <g id="v8" style="transform: scale(1, -1)">
          <rect x="410"
                y="-270"
                width="80"
                height="60"
                rx="10"
                stroke-width="4pt"
                fill-opacity="0"
                [attr.stroke]="colors.white"></rect>

          <text x="450"
                y="-240"
                [attr.fill]="colors.white"
                font-size="28pt"
                class="words">V8
          </text>
        </g>

        <g id="ticks" [attr.transform]="'translate(0 ' + -halfDimension + ')'">

          <line *ngFor="let tick of midTicks"
                class="main-tick"
                stroke-width="8"
                [attr.x1]="halfDimension"
                [attr.x2]="halfDimension"
                [attr.y1]="0.61 * meterDimension "
                [attr.y2]="0.6 * meterDimension"
                [style.transform]="tickRotation(tick)"
                stroke-linecap="round"
                stroke-opacity="0.5"
                [attr.stroke]="colors.white"></line>

          <line *ngFor="let tick of minorTicks"
                class="main-tick"
                stroke-width="8"
                [attr.x1]="halfDimension"
                [attr.x2]="halfDimension"
                [attr.y1]="0.6 * meterDimension "
                [attr.y2]="0.6 * meterDimension"
                [style.transform]="tickRotation(tick)"
                stroke-linecap="round"
                stroke-opacity="0.5"
                [attr.stroke]="colors.white"></line>

          <text *ngFor="let tick of mainTicks"
                class="tick-labels middle-anchor"
                font-size="48pt"
                [attr.fill]="mainTickColor(tick)"
                [attr.x]="halfDimension - 3"
                [attr.y]="meterDimension + 2"
                [style.transform]="tickLabelPosition(tick)">{{ tick / 1000 }}</text>


          <line *ngFor="let tick of mainTicks"
                class="main-tick"
                stroke-width="10"
                [attr.x1]="halfDimension"
                [attr.x2]="halfDimension"
                [attr.y1]="0.63 * meterDimension "
                [attr.y2]="0.59 * meterDimension"
                [style.transform]="tickRotation(tick)"
                [style.stroke]="mainTickColor(tick)"></line>

        </g>

        <g id="needle" [attr.transform]="'translate(0 ' + -halfDimension + ')'">

          <line id="needle"
                [attr.stroke-width]="needleWidth"
                [attr.x1]="halfDimension"
                [attr.x2]="halfDimension"
                [attr.y1]="0.530 * meterDimension"
                [attr.y2]="0.815 * meterDimension"
                [style.transform]="needleRotation"
                stroke-linecap="round"
                [attr.stroke]="colors.red1"></line>
        </g>
      </g>

      <g id="tachometerLabels" [attr.transform]="'translate(0, ' + -halfDimension + ')'">

        <text [attr.x]="isInGear ? halfDimension - 30 : halfDimension"
              class="middle-anchor words"
              [attr.y]="meterDimension + 20"
              [attr.fill]="colors.white"
              font-size="140pt">{{ data.gear }}</text>

        <text *ngIf="isInGear"
              class="left-anchor words"
              [attr.x]="55 + halfDimension"
              [attr.y]="meterDimension + 20"
              [attr.fill]="colors.white"
              font-size="66pt">{{ data.gearNumber | number:'1.0-0' }}</text>

        <text [attr.x]="4 * halfDimension / 3 - 10"
              [attr.y]="5 * meterDimension / 4"
              class="left-anchor"
              [attr.fill]="colors.white"
              font-size="120pt">{{ data.speed | number:'1.0-0' }}</text>

        <text [attr.y]="meterDimension + 50"
              class="right-anchor"
              [attr.fill]="colors.white"
              fill-opacity="0.5"
              font-size="30pt">
          <tspan [attr.x]="meterDimension - 30" font-size="30pt">RPM</tspan>
          <tspan [attr.x]="meterDimension - 30" font-size="22pt" dy="30">/1000</tspan>
        </text>


        <image [attr.x]="40 + 2 * meterDimension / 3"
               [attr.y]="1.32 *  meterDimension "
               width="70"
               xlink:href="./assets/glyphs/tachometer-glyph.svg"/>

        <text class="left-anchor"
              [attr.x]="120 + 2 * meterDimension / 3"
              [attr.y]="30 + 1.32 * meterDimension"
              [attr.fill]="colors.white"
              font-size="30pt">
          {{ speedUnits }}
        </text>

        <image [attr.x]="halfDimension + 100 "
               [attr.y]="1.4 * meterDimension"
               width="70"
               xlink:href="./assets/glyphs/cruise-control-glyph.svg"/>

      </g>


    </g>

  </svg>
</div>
