<div *ngIf="authenticated; then authBlock else loginBlock"></div>

<ng-template #authBlock>
  <div fxLayout="column"
       style="display: block; height: 100%;"
       fxLayoutGap="12px"
       fxLayoutAlign="space-between stretch">

    <div class="dash-wrapper" [style.max-height]="isProd ? '100vh' : '60vh'">
      <app-dash #dashboard></app-dash>
    </div>

    <div *ngIf="!isProd" class="options-wrapper" fxLayoutGap="12px">
      <app-controls class="scrollable-wrapper"
                    fxFlex
                    [relevantKeys]="relevantKeys"
                    (centerButtonPressed)="centerButtonPressed($event)">
      </app-controls>
      <app-window-display class="scrollable-wrapper"
                          fxFlex
                          [relevantKeys]="relevantKeys">
      </app-window-display>
    </div>
  </div>

</ng-template>
<ng-template #loginBlock>
  <div fxLayout="column"
       style="display: block; height: 100%;"
       fxLayoutGap="12px"
       fxLayoutAlign="center center">

    <form [formGroup]="form" novalidate fxLayout="column">

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="user" type="text" autocomplete="off" (keyup.enter)="submit()"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="pass" type="password" autocomplete="off" (keyup.enter)="submit()"/>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="submit()">Login</button>
    </form>
  </div>
</ng-template>
