<form [formGroup]="form">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        Testing Controls
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>

      <div fxLayout="column" fxFlex>

        <div *ngFor="let control of controls"
             fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="12px">

          <ng-container *ngIf="control.type === 'header'">

            <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
              <hr fxFlex/>
              <h2>{{ control.title }}</h2>
              <hr fxFlex/>
            </div>

          </ng-container>

          <ng-container *ngIf="control.type === 'checkbox'">

          <span [fxFlex]="firstColFlex">{{ control.title }}</span>
          <mat-checkbox [fxFlex]="secondColFlex"
                        (change)="update(control.key, $event.checked)"
                        [formControlName]="control.key"></mat-checkbox>
          <span fxFlex></span>
          </ng-container>

          <ng-container *ngIf="control.type === 'radio'">
            <span [fxFlex]="firstColFlex">{{ control.title}}</span>
            <mat-radio-group [fxFlex]="secondColFlex"
                             fxLayoutGap="12px"
                             (change)="update(control.key, $event['value'])"
                             formControlName="{{ control.key }}">
              <mat-radio-button *ngFor="let option of control.options" value="{{ option }}">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
            <span fxFlex></span>
          </ng-container>

          <ng-container *ngIf="control.type === 'slider'">
            <span [fxFlex]="firstColFlex">{{ control.title }}</span>
            <mat-slider formControlName="{{ keyToFormControlName(control) }}"
                        [fxFlex]="secondColFlex"
                        [min]="control.range[0]"
                        [max]="control.range[1]"
                        [step]="control.range[2]"
                        (input)="update(control.key, $event.value, control.idx)">
            </mat-slider>
            <span fxFlex>{{ windowValue(control.key, control.idx) }}</span>
          </ng-container>

          <ng-container *ngIf="control.type === 'select'">
            <span [fxFlex]="firstColFlex">{{ control.title }}</span>
            <mat-form-field [fxFlex]="secondColFlex">
              <mat-select formControlName="{{ control.key }}">
                <mat-option *ngFor="let option of control.options"
                            [value]="option"
                            (onSelectionChange)="($event.isUserInput) ? update(control.key, $event.source.value) : ''">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span fxFlex></span>
          </ng-container>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
          <hr fxFlex/>
          <h2>Menu Navigation</h2>
          <hr fxFlex/>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
          <button mat-raised-button color="primary" (click)="upPressed()">Up</button>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
            <button mat-raised-button color="primary" (click)="leftPressed()">Left</button>
            <button mat-raised-button color="primary" (click)="rightPressed()">Right</button>
          </div>
          <button mat-raised-button color="primary" (click)="downPressed()">Down</button>
        </div>
      </div>


    </mat-card-content>

  </mat-card>

</form>
